.add-asset-tab-wrap, .new-mg-form{
	margin: $general-margin 0;
}

.new-mg-name-input{
	width: 100%;
	max-width: 100%;
}

.new-mg-description-input{
	width: $new-mg-description-width;
	height: $new-mg-description-height;
}

.button-bar{
	.btn{
		width: $save-cancel-button-width;
		height: $save-cancel-button-height;
		float: right;
		margin-left: $general-margin;
	}

	&.bottom-button-bar{
		margin-top: $general-margin;
	}
}