table{
	margin-top: $general-margin;
	width: 100%;
	table-layout: fixed;

	thead{
		border: $small-border-width solid $primary;
		border-top: 0;
		border-bottom: 0;

		tr{
			background-color: $primary;
			th{
				color: white;
				font-size: $large-font-size;
				height: $table-header-height;
				&.sortable{
					cursor: pointer;
					&:hover{
						background-color: $primary-focused;
					}
				}
			}
		}
		
		.table-header{
			padding: 0px $cell-padding;
		}
	}

	tbody{
		border: $small-border-width solid $content-border;
		border-top: 0;

		&.ui-sortable{
			tr{
				cursor: move;
			}
		}
		tr{
			height: $cell-height;
			&:last-child{
				border-bottom: $small-border-width solid $content-border;
			}
		}

		tr:nth-child(odd){
			background-color: white;
		}
		tr:nth-child(even){
			background-color: $zebra-even;
		}

		td{
			width: 100%;
			vertical-align: top;
			width: inherit;

			border-right: $small-border-width solid $content-border;
			padding: 0 !important;
			&:first-child{
				border-left: $small-border-width solid $content-border;
			}
			.content-cell-wrapper{
				overflow-x: hidden;
				overflow-y: auto;
				padding: $cell-padding;
				height: $cell-height;
				width: 100% !important;
				&.no-scroll{
					overflow:hidden;
				}

				& span{
					word-wrap: break-word;
					overflow-wrap: break-word;
					width: 100% !important;
				}

				& textarea{
					width: 100%;
					height: $edit-content-textarea-height;
					max-height: $edit-content-textarea-height;
					overflow: auto;
					max-width: 100%;
				}
			}
			
			&:last-child .content-cell-wrapper{
				border-right: 0;
			}

			&.action-cell, 
			&.edit-cell, 
			&.delete-cell{
				text-align: center;
			}

			&.preview-cell{
				overflow: hidden;

				.img-cell-wrapper{
					.backdrop{
						height: 100%;
						background-color: black;
						overflow: hidden;
					}
				}

				img{
					width: 100%;
				}
			}

			&.edit-cell{
				text-align: center;
				overflow: hidden;
				.content-cell-wrapper{
					overflow-y: hidden;
					.edit-wrapper{
						
						color: black;
						i{
							opacity: .6;
						}
						&:hover{
							i{
								opacity: 1;
							}
							cursor: pointer
						}
					}
				}

				.edit-wrapper-ie{
					opacity: .6;
					&:hover{
						opacity: 1;
						cursor: pointer;
					}
					.fa-ban{
						color: red;
					}
				}

				.btn{
					width: 100%;
					&:first-child{
						@include vertically-align($edit-button1-vertical-offset);
					}

					&:nth-child(2){
						@include vertically-align($edit-button2-vertical-offset)
					}
				}
			}
			&.assets-cell{
				.preview-link{
					cursor: pointer;
				}
			}
			&.delete-cell{
				.trash-wrapper{
					color: black;
					opacity: .6;
					&:hover{
						opacity: 1;
						cursor: pointer
					}

				}

				.trash-wrapper-ie{
					opacity: .6;
					&:hover{
						opacity: 1;
						cursor: pointer;
					}
					.fa-ban{
						color: red;
					}
				}
			}

			.img-cell-wrapper{
				text-align: center;
				height: 100%;
				button, img, div{
					top: 50%;
					@include vertically-align(-50%);
				}

				.preview-link{
					overflow: hidden;
					img{
						cursor: pointer !important;
					}
				}

				.remove-wrapper{
					opacity: .6;
					.fa-circle{
						color: red;
					}
					.fa-times{
						color: white;
					}

					&:hover{
						opacity: 1;
						cursor: pointer;
					}
				}
			}
		}
	}
}



