$content-border: #ddd;

$zebra-even: #EEEEEE;

$primary: #2ba6cb;
$primary-focused: #2285A2;

$success: #5cb85c;
$success-focused: #4cae4c;

$lightbox-modal-background: rgba(11,11,11,.8);

$ie-alert-background: #f2dede;
$ie-alert-border: #ebccd1;
$ie-alert-text: #a94442;

