$small-font-size: 12px;
$general-font-size: 14px;
$large-font-size: 16px;

$general-margin: 15px;
$general-padding: 15px;

$small-border-width: 1px;
$thick-border-width: 2px;

$toggle-width: 278px;

$large-button-height: 41px;

$search-width: 75%;
$clear-search-button-width: 25%;

$table-header-height: 60px;

$cell-height: 140px;
$cell-line-height: $cell-height - $general-padding;
$cell-padding: 8px;

$video-form-input-height1: 80px;
$video-form-input-height2: 100px;
$video-form-text-area-width: 25%;

$new-mg-description-width: 50%;
$new-mg-description-height: 80px;

$save-cancel-button-width: 80px;
$save-cancel-button-height: 35px;

$edit-content-textarea-height: $cell-height - $general-padding;
$edit-button1-vertical-offset: 65%;
$edit-button2-vertical-offset: 125%;

$pagination-button-width: 19.5%;
$pagination-page-count-width: 18.5%;

$lightbox-video-embed-height: 360px;
$lightbox-video-embed-width: 640px;